.card-box{
    box-shadow: 0 1px 1px 1px rgba(9,9,9,.25)!important;
    border-bottom: 0 solid #82af13!important;
    border-top: 3px solid #82af13!important;
    background: #fff;
    padding: 100px 50px;
    border-radius: 12px;
}

.login-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 900px;
    }

.Logo-img{
display: block;
text-align: center;
margin-bottom: 50px;
}

.butt-login{
    margin-top: 20px;
    padding: 10px 40px;
    border: none;
    background: #82af13;
    color: #fff;
    border-radius: 8px;
}